* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.vw100 {
    width: 100vw;
}
html,body {
	height:100vh;
}
.carousel,.item,.active {
	height:100vh;
}
.carousel-inner {
	height:100vh;
}
.full-screen {
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-carousel-one {
  background-image: url("../assets/images/movie1.jpg");
}
.bg-carousel-two {
  background-image: url("../assets/images/movie2.jpg");
}
.bg-carousel-three {
  background-image: url("../assets/images/movie3.jpg");
}
.size {
	height: 10vh;
	width: 10vh;
}
.yellow-btn {
    background-color: rgb(255,192,1);;
    color: #000000;
    border: 2px solid rgb(255,192,1);;
}
.center {
    text-align: center;
}
.mleft-10 {
    margin-left: 10vw;
}
.logo-image {
    width: 100vw;
    margin-top:20vw;    
}

body {
		background-color: rgb(41,41,41);
		font-family: 'Righteous', cursive;
}
header{
	background-color: #b50f16;
	width: 100vw;
}
form {
    color: rgb(235, 148, 8);
}
#user-pic {
    width: 40vw;
}
.container-flex-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item-flex {
	display: flex;
	align-self: center;
}
.logo {
	width: 40vw;
}
.black-color {
    color: #000000;
}
.mtop-8 {
    margin-top: 8vh;
}