<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>calendar</title>
    <link href="../css/fullcalendar.css" rel="stylesheet"/>
    <link href="../css/fullcalendar.print.css" rel="stylesheet" media="print"/>
  </head>
  <body>
    <div id="calendar"></div>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../js/moment.min.js"></script>
    <script src="../js/fullcalendar.min.js"></script>
    <script src="../js/es.js"></script>
    <script type="text/javascript" src="../js/calendar.js"></script>
  </body>
</html>
