<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Marvel Fans</title>
    <!--Añadiendo color a la barra de navegador que se verá desde versión mobile-->
    <meta name="theme-color" content="#3eb060"/>
    <link rel="icon" type="image/png" href="../assets/img/logomodel.png">
    <!--Import fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main-m.css">
</head>
<body >
  <header>
    <div class="container-fluid color-head">
      <div class="row">
        <div class="col-xs-12">
         <figure class="put"><img class="img-responsive" width="40%" height="30vh" src="../assets/img/logomodel." alt="model"></figure>
        </div>
      </div>
    </div>

  </header>
  <!--<section class="first-section-profile">
    <div class="container-fluid color">
      <div class="row">
        <div class="col-xs-12">

        </div>
      </div>
    </div>
  <section class="second-section-list">
    <div class="container-fluid color">
      <div class="row">
        <div class="col-xs-12">

        </div>
      </div>
    </div>
  </section>
  <section class="third-section-ratings">
    <div class="container-fluid color">
      <div class="row">
        <div class="col-xs-12">

        </div>
      </div>
    </div>
  </section>
  <section class="first-section">
    <div class="container-fluid color">
      <div class="row">
        <div class="col-xs-12">

        </div>
      </div>
    </div>
  </section>-->
  <!-- Vínculo de archivos js-->
  <script type="text/javascript" src="vendors/jQuery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/profileView.js"></script>
</body>
</html>
